doctype html
head
        title= title
        link(rel="stylesheet", href="/stylesheets/about_style.css")
        link(rel="shortcut icon", href="/images/ロゴ.ico", type="image/x-icon")
        link( href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
body
        h1(class='section-name' id='page-name') 
            span About
        img( id="logo" src="../images/ロゴ.png", alt="")
        h1(id='name' class='section-name') はす
        p(id='description')
            |PCが好きな高校生。小学一年生のときにPCを初めて触り興味を持つ。
            |その後小学五年生のときにプログラミングに出会い学習を開始。
            |趣味はエレキギターを弾くこと。
            |自分の経験や考え方を共有することで誰かの支えや後押しができるようなコンテンツを作るために学習中。

        h1(id='qualification_section' class='section-name') 資格
        ul(id="qualification")
            li ITパスポート試験　令和元年10月15日合格

        h1(id='skill' class='section-name') できること
        ul(id='ability')
            li(class='my-ability') HTML,CSS,JavaScriptを用いたwebデザイン
            li(class='my-ability') Node.jsを用いたサーバーサイド開発

        footer
            ul(class="sns_icon")
                li(class= 'link_icon')
                    a(href="https://twitter.com/83_hasu" id='twitter_link')
                li(class ='link_icon')
                    a(href='https://github.com/haplus-stu' id='github_link' )


        
        