extends layout

block content
  head
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="javascripts/hp.js")

  body
    div(class='st_wrapper')
      div(class="nav_container")
        ul(class="l_nav")
            li(class="nav_item") 
              a(href="/about")
                  |about


      div(id='background')
        div(class='back-text')
          h1(id='name') Hasu
          h1(id='keyphrase') KEEP CREATING
          p 
           span(class='str-row')  小学一年生のときにPCを初めて触り興味を持つ。
           br
           span(class='str-row')  その後小学五年生のときにプログラミングに出会い学習を開始。
           br
           span(class='str-row')  「自分や他の誰かの生活を便利にしたい」をモットーに活動中。 
          button(class='more' id='about')
            a(href="/about") More About Me →

      section(id='work')
        div(class='project')
          img(src="/images/timer_sub.png", class="pj_img-left")
          h3(class='title') ポモドーロタイマー
          p(class='explain')
            span(class='str-row') ポモドーロテクニック支援のためのタイマーアプリ
            br
            span(class='str-row') Localstrageによるプリセット保存機能あり
          button(class='more')
            a(href="https://haplus-stu.github.io/Timer/") Go Product Page → 


        div(class='project')
          img(src="/images/blog.png", class="pj_img-right")
          h3(class='title') はすログ
          p(class='explain')
            span(class='str-row') Hexoを使用したブログサイト 
          button(class='more')
            a(href="https://haplus-stu.github.io/Myblog_hexo/") Go Product Page → 

        div(class='project')
          img(src="/images/qiita_my_first.jpg", class="pj_img-left")
          h3(class='title') 私のN校でのプログラミング学習の話 
          p(class='explain')
            span(class='str-row') Qiita初投稿記事
            br
            span(class='str-row') N高等学校advent calender 2019 14日目
          button(class='more')
            a(href="https://qiita.com/7321hasu/items/8b59f25638b60f4e336c") Go Product Page → 

        div(class='project')
          img(src="/images/HonBa ~ほんのさがしば~.jpg", class="pj_img-right")
          h3(class='title') Honba!~ほんのさがしば~ 
          p(class='explain')
            span(class='str-row') Pythonを利用した書籍の発売日を一覧化するサイト
          button(class='more')
            a(href="https://honba-new.herokuapp.com/") Go Product Page → 

        h2(id='more-work') More Works →
        button(class='more' id='work_btn')
          a(href="https://github.com/haplus-stu/") check more → 

      footer
          ul(class="sns_icon")
              li(class= 'link_icon')
                  a(href="https://twitter.com/83_hasu" id='twitter_link')
              li(class ='link_icon')
                  a(href='https://github.com/haplus-stu' id='github_link' )
          
          p(id='copy') ©2020Hasu

