doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/home_style.css')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0')
  body
    block content
