head

body
    div(class='st_wrapper')
        img(src="/images/qiita_my_first.jpg", alt="")
        p(class='description')
            |Qiita初投稿記事。N高等学校 Advent Calendar 2019の一環で、自分が2019年やってきたことを記事にまとめています
        a(href="https://qiita.com/7321hasu/items/8b59f25638b60f4e336c") https://qiita.com/7321hasu/items/8b59f25638b60f4e336c
