doctype html
head
	link(rel="stylesheet", href="/stylesheets/work_style.css")
	link( href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")

body
	div(class='st_wrapper')
		div(class="nav_container")
			ul(class="l_nav")
				li(class="nav_item") 
					a(href="/")
						|Home
				li(class="nav_item") 
					a(href="/About") 
						|About
		h1(class='section-name' id='page-name') 
			span Works
		div(class='container')
			div(class='products')
				div(class='tumb')
					a(href="https://qiita.com/7321hasu/items/8b59f25638b60f4e336c")
						img(src='/images/qiita_my_first.jpg')
				div(class='tumb')
					a(href="https://haplus-stu.github.io/Timer/")
						img(src='/images/timer_sub.png')

				div(class='tumb')
					a(href="https://qiita.com/7321hasu/items/eb9cd75515c55335d8fa")
						img(src='/images/timer.png')
				div(class='tumb')
					a(href="https://haplus-stu.github.io/Myblog_hexo/")
						img(src='/images/blog.png')
				div(class='tumb')
					a(href="https://haplus-stu.github.io/Login_form/")
						img(src='/images/login-form.png')
				div(class='tumb' id='more')
					a(href="https://github.com/haplus-stu") More→

		footer
			ul(class="sns_icon")
				li(class= 'link_icon')
					a(href="https://twitter.com/83_hasu" id='twitter_link')
				li(class ='link_icon')
					a(href='https://github.com/hashue' id='github_link' )
